<div ng-controller="PoliceClient as vmPC">
    <div class="cantainer" data-ng-init="load()" >

        <form action="">
            <input id="inpvalue"/>
            <div class="form-group">
                <div class=""><img class="wCarCountIcon" src="wcphm_pic.png" alt=""/>
                    <span id="carNumberTitle" class="wTitle">车牌号码</span>
                </div>
                <div class="wInpNumber">
                    <a>
                        <input id="chooseProvicePC" type="text" readonly="true" class="btn btn-sm"
                               ng-model="parties1[0].provice" value="{{parties1[0].provice}}"/>
                    </a>
                    <input class="input-sm number" style="width: 110px;" type="text" id="number" ng-model="parties1[0].number" value="{{parties[0].number}}" />
                </div>
                <div ng-show="parties[0].numberValidate" style="margin-top: 0px;">
                    <span ng-show="parties[0].numberValidate" class="spanValidate" >{{parties[0].carNumVal}}</span>
                </div>
                <div ng-show="!parties[0].numberValidate" style="margin-top: 0px;">
                    <span  ng-show="!parties[0].numberValidate" class="spanValidate" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </div>
            </div>

            <div class="form-group" >
                <div class=""><img src="wclfds_pic.png" class="wCarCountIcon" alt=""/> <span
                        class="wTitleCount">处理罚单数</span></div>
                <div class="wInp">
                    <input class="input-sm" type="text" id="count" ng-model="parties[0].count" value="{{parties[0].count}}" style="width: 160px;"
                           onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"  />
                    <div ng-show="parties[0].countValidate" style="margin-top: 0px;">
                        <span class="spanValidateExtend" >{{parties[0].countVal}}</span>
                    </div>
                    <div ng-show="!parties[0].countValidate" style="margin-top: 0px;">
                        <span   class="spanValidateExtend">&nbsp;</span>
                    </div>
                </div>
            </div>

            <div class="form-group mt-15" >
                <div><img class="wCarCountIcon" src="wclfds_pic.png" alt=""/> <span class="wTitleCount">扣分数</span></div>
                <div class="wInp">
                    <input class="input-sm" type="text" id="points" ng-model="parties[0].points" value="{{parties[0].points}}" style="width: 160px;"
                           onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"  />
                    <div ng-show="parties[0].pointsValidate">
                        <span ng-show="parties[0].pointsValidate" class="spanValidateExtend" >{{parties[0].pointsVal}}</span>
                    </div>
                    <div ng-show="!parties[0].pointsValidate" style="margin-top: 0px;">
                        <span  ng-show="!parties[0].pointsValidate" class="spanValidateExtend">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                </div>
            </div>

            <div class="form-group mt-15" >
                <div class=""><img class="wCarCountIcon" src="wdhhm_pic.png" alt=""/> <span
                        class="wTitleCount">电话号吗</span></div>
                <div class="wInp">
                    <input class="input-sm" type="text" id="tel" ng-model="parties[0].telnumber"  value="{{parties[0].telnumber}}" style="width: 160px;"
                           onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"  />
                    <div ng-show="parties[0].telValidate">
                        <span ng-show="parties[0].telValidate" class="spanValidateExtend" >{{parties[0].telVal}}</span>
                    </div>
                    <div ng-show="!parties[0].telValidate">
                        <span   ng-show="!parties[0].telValidate" class="spanValidateExtend">&nbsp;</span>
                    </div>
                </div>
            </div>
            <div  ng-show="busy"> <i class="fa fa-spin fa-spinner fa-lg"></i>
                loading ...
            </div>
            <div class="form-group mt-15" id="chooseType">

                <div class="">
                    <img class="wCarCountIcon" src="wclzl_pic.png" alt=""/>
                    <span class="wTitleCount">车辆种类</span>
                </div>
                <div class="wInp" id="chooseSamllCarPC">
                    <span id="samllCarTitle" class="">小型</span>
                             <span id="sc" ng-show="!parties[0].smallCar" name="radio">
                               <img id="imgSmallCarShow" src="wchoose_nor.png" css="chooseCarTypeLocation" class="mt51" alt=""
                                    />
                             </span>
                             <span ng-show="parties[0].smallCar" name="radio">
                               <img id="imgSmallCarHide" src="wchoose_pre.png" class="mt51" alt="" />
                             </span>
                            <input id="isc" type="text" value="{{parties[0].smallCar}}" style="display:none"/>

                </div>

                <div class="wInp wTypeBigCar" id="chooseBigCarPC">
                    <span id="bigCarType " class="">大型</span>
                             <span ng-show="!parties[0].bigCar" name="radio">
                               <img id="imgBigCarShow" src="wchoose_nor.png" alt="" class="mt-3"/>
                             </span>
                             <span ng-show="parties[0].bigCar" name="radio">
                               <img id="imgBigCarHide" src="wchoose_pre.png" alt="" class="mt-3"/>
                             </span>
                    <input id="ibc" type="text" value="{{parties[0].bigCar}}" style="display:none"/>
                </div>

                <div class="wInp wTypeOther" id="chooseOtherPC">
                    <span class="">其它</span>
                             <span ng-show="!parties[0].other" name="radio">
                               <img id="imgOtherShow" src="wchoose_nor.png" alt=""/>
                             </span>
                             <span ng-show="parties[0].other" name="radio">
                               <img id="imgOtherHide" src="wchoose_pre.png" alt=""/>
                             </span>
                    <input id="ioc" type="text" value="{{parties[0].other}}" style="display:none"/>
                </div>

                <div class="selectOtherType">
                    <div class="btn-group" id="selOtherTypecss">

                        <input type="text" ng-disabled="!parties[0].other" readonly="true" id="getSelValPC"
                               ng-model="parties[0].otherType" class="btn btn-default dropdown-toggle " value="{{parties[0].otherType}}"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" />
                        <ul id="selTypePC" class="dropdown-menu" ng-model="parties[0].otherType">
                            <li ng-repeat="setCarType in vmPC.setCarType" ng-click="selType($index)">
                                <a href="">{{setCarType.type}}</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="statusBar">
                <div ng-show="parties1[0].status">
                    <img src="wts_pic_nor.png" alt="">
                </div>
                <div ng-show="!parties1[0].status">
                    <img src="wts_pic_pre.png" alt="">
                </div>
            </div>
            <a class="btn wBtnSuccess"  ng-click="status()" ng-model="parties1[0].status">确认</a>
            <a class="btn wBtnCancel"  ng-model="parties1[0].status" ng-click="removeAll()">取消</a>
        </form>





        <div id="provicePC">
            <div style="height: 5px;"></div>
            <div class="row">
                <a href="" class="btn btn-sm ">京</a>
                <a href="" class="btn btn-sm">沪</a>
                <a href="" class="btn btn-sm">浙</a>
                <a href="" class="btn btn-sm">苏</a>
                <a href="" class="btn btn-sm">粵</a>
                <a href="" class="btn btn-sm">鲁</a>
                <a href="" class="btn btn-sm">晋</a>
                <a href="" class="btn btn-sm">冀</a>
            </div>
            <div class="row">
                <a href="" class="btn btn-sm ">预</a>
                <a href="" class="btn btn-sm">川</a>
                <a href="" class="btn btn-sm">渝</a>
                <a href="" class="btn btn-sm">辽</a>
                <a href="" class="btn btn-sm">吉</a>
                <a href="" class="btn btn-sm">黑</a>
                <a href="" class="btn btn-sm">皖</a>
                <a href="" class="btn btn-sm">鄂</a>
            </div>
            <div class="row">
                <a href="" class="btn btn-sm">湘</a>
                <a href="" class="btn btn-sm">赣</a>
                <a href="" class="btn btn-sm">闽</a>
                <a href="" class="btn btn-sm">陕</a>
                <a href="" class="btn btn-sm">甘</a>
                <a href="" class="btn btn-sm">宁</a>
                <a href="" class="btn btn-sm">蒙</a>
                <a href="" class="btn btn-sm">津</a>
            </div>
            <div class="row">
                <a href="" class="btn btn-sm">贵</a>
                <a href="" class="btn btn-sm">云</a>
                <a href="" class="btn btn-sm">桂</a>
                <a href="" class="btn btn-sm">琼</a>
                <a href="" class="btn btn-sm">青</a>
                <a href="" class="btn btn-sm">新</a>
                <a href="" class="btn btn-sm">藏</a>
                <img id="btnClose" src="gopc.png" alt=""/>
            </div>
        </div>
    </div>
</div>
